
.header-container {
    .header{
        max-width: 80%;
        margin: auto;
    }
    .navbrand-container {
        min-width: 205px;
        min-height: 45px;
        img {
            max-width: 205px;
            max-height: 45px;
        }
    }
    .logo-ethicsglobal {
        width: 175px;
        svg {
            width: 100%;
        }
    }
}

