
.header-container {
    .header{
        max-width: 80%;
        margin: auto;
    }
    .navbrand-container {
        img {
            width: 100%;
        }
    }
    .logo-ethicsglobal {
        width: 175px;
        svg {
            width: 100%;
        }
    }
}

