@import '../../../theme/colors';

#follow-up{
    background-color: $color-white;
    padding: 10rem 10%;
    p{
        color: $color-slate;
    }
    .form-control{
        border-radius: 0!important;
    }
}
@media screen and (max-width: 768px) {
    #follow-up{
        padding: 5rem 2rem;
        #title{
            text-align: center;
        }
    }
}

@media screen and (max-width: 576px) {
    #follow-up{
        padding: 5rem 1rem;
        #title{
            text-align: center;
        }
    }
}