@import '../../theme/colors';

.form-preview {
  position: relative;
  .form-control {
    margin-top: 4px;
  }
  // header del preview donde esta el steper y el titulo del step
  .form-preview-header {
    display: flex;
    justify-content: space-between;
  }
  // contenedor que engloba a todos los inputs
  .form-preview-inputs {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 480px;
    height: 480px;
    padding-bottom: 16px;
    position: relative;
    * {
      color: #72909D;  
    }
    .ps__rail-y {
      &:hover {
        background-color: transparent
      }
    }
    .ps__thumb-y {
      background-color: $color-ethicsBlue;
      width: 4px;
      border-radius: 5px;
      &:hover {
        background-color: $color-ethicsBlue;
      }
    }
  }
  // contenedor de cada input
  .preview-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }

  .invalid-msg {
    color: red;
  }



  .stepWrapper {
    .step-row-2 {
      &::before{
        background: $color-paleGrey2!important;
      }
    }
    .steps {
      margin-right: 8px;
      &:first-child {
        i::before {
          content: "1";
        }
      }
      &:nth-child(2) {
        i::before {
          content: "2";
        }
      }
      &:nth-child(3) {
        i::before {
          content: "3";
        }
      }
      &:nth-child(4) {
        i::before {
          content: "4";
        }
      }
      .default-node {
        width: 25px!important;
        height: 25px!important;
        border: 1px solid $color-silver!important;
        background: linear-gradient(to bottom, $color-white, $color-paleGrey2 120%)!important;
        color: #8aa1ac!important;
        box-shadow: none!important;
        &.active {
          background: $color-ethicsBlue!important;
          border-color: $color-ethicsBlue!important;
          color: $color-white!important;
        }
        i {
          font-size: 12px!important;
        }
      }
    }
    .steps:last-child {
      margin-right: 0;
    }
  }

}