@import '../../../theme/colors';

.how-works-container {
    background-color: $color-landing;
    padding: 8rem 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    img {
        height: 4rem;
    }
    h4 {
        color: $color-blueGray900;
        font-weight: bold;
        font-size: 20px;
    }
    p {
        font-size: 15px;
        max-width: 250px;
        margin: auto;
        color: $color-slate2;
    }
    .how-works-item {
        text-align: center;
        p {
            text-align: justify;
        }
    }
}
