
.search-grievance-page {
  
  .header {
    text-align: center;
  }

  .main-content {
    background-color: green;
    label {
      display: block;
    }
    .additional-info {
      display: flex;
      flex-direction: column;
    }

    .attachments {

    }
    
  }




}