@import "../../../theme/colors";

.navbar-form {
  height: 80px;
  padding: 8px 30px;
  justify-content: space-between;
  align-items: center;
  .logo-containerr {
    max-width: 12rem;
    img {
      width: 100%;
    }
  }
  .navbar-form-btns {
    display: flex;
    align-items: center;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .navbar-form {
    display: flex;
      padding: 8px 30px;
      p{
          color: $color-slate;
      }
      .title{
          text-align: start;
      }
  }
}
@media (min-width: 992px) {
  .navbar-form {
      padding: 8px 150px;
  }
}