@import '../../../theme/colors';
#contact-carousel{
    text-align: center;
    margin-top: -10rem;
    #noti-message {
        text-align: center;
        max-width: 550px;
        margin: 3rem auto;
        // color: $color-white;
    }
    .carousel-block {
        max-width: 900px;
        margin: auto;
        padding: 2rem 4rem;
        border-radius: 6px;
        background-color: $color-white;
        position: relative;
        .react-multi-carousel-list {
            // justify-content: center;
            height: 200px;
            .item{
                text-align: center;
                .social-contact{
                    border: 1px solid $color-silver;
                    border-radius: 6px;
                    background-image: linear-gradient(to bottom, $color-white, $color-blueGray50);
                    margin: 0 auto 1rem;
                    text-align: center;
                    text-align: center;
                    padding: 1rem;
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 250ms ;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 0px 16px rgba(43, 43, 43, 0.253);
                    }
                    &.app:hover svg {
                        filter: invert(21%) sepia(59%) saturate(5438%) hue-rotate(94deg) brightness(101%) contrast(105%);
                    }
                }        
            }
        }
    }    
    .react-multi-carousel-track {
        margin-bottom: 16px !important;
        padding-left: 150px;
    }
    .react-multi-carousel-dot-list  {
        bottom: 0px;
    }
}

// @media screen and (max-width: 768px) {
//     #contact-carousel #carousel-block #message-noti{
//         right: 1rem;
//         bottom: 1rem;;
//     }
// }

// @media screen and (max-width: 576px) {
//     #contact-carousel{
//         background-color: $color-landing;
//         margin-top: 0;
//         #carousel-block{
//             padding: 3rem 2rem;           
//         }
//         #noti-message{
//             color: $color-greyBlue;
//             max-width: unset;
//             margin: 0;
//             padding: 3rem 1rem;
//         }   
//     }
// }