//COLORES PRIMARIOS
$color-ethicsBlue: #00bbff;
$color-ethicsBlue: #009ED7;
$color-blueGray: #546E7A;
$color-blueGray2: #78909c;
$color-oxfordBlue: #152235;
$color-white: #ffffff;
$color-ligthBlue: #e9f5fd;
$color-lightBlue2: #a0d4fa;

//COLORES NEUTRALES
$color-blueGray50: #f3f7fa;
$color-blueGray100: #e6ebef;
$color-blueGray200: #d3dbe1;
$color-blueGray500: #b5c0c8;
$color-blueGray600: #909ca4;
$color-blueGray700: #5c666e;
$color-blueGray800: #262f38;
$color-blueGray900: #324148;

//COLORES SECUNDARIOS
$color-blue: #3181ff;
$color-green: #44cb67;
$color-yellow: #ffaf00;
$color-red: #de463d;
$color-teal: #007b6f;
$color-purple: #7c4dff;
$color-pink: #d81b60;
$color-lime: #cddc39;
$color-lightYellow: #ffefc0;
//COLORES DAShBOARD
$color-Gray: #66818d;
$color-gray2: #d8dfe3;
$color-blue2: #0277bd;

//COLORES JORGE
$color-slate: #455a64;
$color-slate2: #546e7a;
$color-greyBlue: #66818d;
$color-gunmetal: #5d5e5e;
$color-dark: #2c2c3a;
$color-darkTwo: #263238;
$color-darkThree: #1a1d27;
$color-darkFour: #242836;
$color-darkBorder: #363742;
$color-lightBlue: #0c0c0c;
$color-paleBlue: #e8f5fd;
$color-paleBlue2: #e1f5fe;
$color-paleGrey: #eceff1;
$color-paleGrey2: #e3ebf5;
$color-paleGrey3: #f0f2f4;
$color-silver: #bdcad0;
$color-silver2: #d8dfe3;
$color-silver3: #DEE1E4;
$color-landing: #f3f7fa;
$color-cobalt: #1a4792;
$color-lightishBlue: #536dfe;
$color-dodgerBlue: #3181ff;
$color-coolGray: #b0bec5;
$color-palePink: #ffd7da;
$color-charcoalGrey: #31323a;
