@import './variables';

/* Segoe UI */

// Regular
@font-face {
    font-family: $font-family-primary;
    src: url('/fonts/segoeui.ttf') format('truetype');
    font-weight: $font-weight-regular;
}

// Light
@font-face {
    font-family: $font-family-primary;
    src: url('/fonts/segoeuil.ttf') format('truetype');
    font-weight: $font-weight-light;
}

// Semi-Light
@font-face {
    font-family: $font-family-primary;
    src: url('/fonts/segoeuisl.ttf') format('truetype');
    font-weight: $font-weight-semiLight;
}

// Bold
@font-face {
    font-family: $font-family-primary;
    src: url('/fonts/segoeuib.ttf') format('truetype');
    font-weight: $font-weight-bold;
}


// Semi-Bold
@font-face {
    font-family: $font-family-primary;
    src: url('/fonts/segoeuisb.ttf') format('truetype');
    font-weight: $font-weight-semibold;
}
