@import 'reset',
'colors',
'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  overflow-y: scroll; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

p {
  font-size: 14px;
}