@import '../../theme/colors';

.search-bar-container {
  border-radius: 4px;
  border: 1px solid gray;
  display: flex;
  height: 45px;
  width: 100%;
  .search-icon {
    padding: 10px;
    svg {
      height: 18px;
    }
  }
  .search-input {
    border: none;
    width: 320px;
    padding: 8px;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .search-button {
    flex-grow: 1;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .search-bar-container {
    width: 80%;
  }
}