@import '../../../theme/colors';

.download {
    padding: 88px;
    background-color: $color-landing;
    display: flex;
    justify-content: center;
    align-items: center;
    .download-info-container {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .download-info {
        // padding: 30px;
    }
    .download-methods {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    .download-app-img {
        img {
            width: 100%;
        }
    }    
}
.modal-video-container {
    .modal-video {
        padding: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .download{
        .download-info {
            margin-top: 2rem;
            text-align: center;
            padding-bottom: 3rem;
        }
        .download-methods {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 576px) {
    .download {
        .download-info {
            .btn {
                width: 90%;
            }
        }
    }
}