@import '../../../theme/colors';

.footer-container {
    .footer {
        background-color: $color-ethicsBlue;
        h4{
            color: $color-white;
        }
        p{
            color: $color-paleBlue2;
        }
        ul{
            a{
                display: block;
                color: $color-paleBlue2!important;
                padding: 0.5rem 0;
            }
        }
        hr {
            border: 2px solid #000000;
            width: 10%;
        }
        .footer-logo {
            height: 35px;
            width: 300px;
            svg {
                width: 100%;
            }
        }
    }
    .copyright{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-oxfordBlue;
        padding: 3rem 10%;
        color: $color-white;
    }
}


@media screen and (max-width: 576px) {
    .footer-container {
        text-align: center;
        .copyright{
            display: block;
            text-align: center;
            padding: 3rem 0;
        }
    }
}