@import '../../../theme/colors';

.home-hero {
    // height: calc(100vh - 116px);
    display: flex;
    align-items: center;
    height: 700px;
    position: relative;
    justify-content: center;
    .bg-image {
        background-image: url("../../../assets/images/larr-banner.png");
        height: 700px;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .contents {
        width: 100%;
        color: $color-white;
        z-index: 1;
        padding-bottom: 100px;
    }
    h1 {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        color: $color-white;
        font-weight: bold;
    }
    .main-img-container {
        min-height: 150px;
        min-width: 150px;
        border-radius: 3px;
        overflow: hidden;
        img {
            max-height: 150px;
            max-width: 150px;
        }
    }
    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        z-index: 11;
        h1 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
            -webkit-box-orient: vertical;   
        }
    }
    .hero-btns {
        display: flex;
        flex-direction: column;
        padding: 0 70px;
    }
    .hero-btn {
        border-radius: 4px;
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) {
    .home-hero {
        align-items: center;
        .main-img-container {
            min-height: 210px;
            min-width: 210px;
            img {
                max-height: 210px;
                max-width: 210px;
            }
        }
        .hero-btns {
            flex-direction: row;
            padding: 0 70px;
        }
        .hero-btn {
            border-radius: 4px;
            margin: 0 10px;
        }
    }
}

@media screen and (min-width: 992px) {
    .home-hero {
        align-items: center;
        .main-img-container {
            min-height: 300px;
            min-width: 300px;
            img {
                max-height: 300px;
                max-width: 300px;
            }
        }
        h1 {
            text-align: left;
        }
        .main-text {
            flex-direction: row;
            h1 {
                display: block;
                -webkit-line-clamp: initial; /* number of lines to show */
                line-clamp: initial; 
                -webkit-box-orient: vertical;   
            }
        }
        .hero-btns {
            padding: 0px;
        }
    }
}